<section class="hexagons">
    <span class="hexUp"></span>
    <span class="hexDown"></span>
    <span class="hexUp"></span>
    <span class="hexDown"></span>
    <span class="hexUp"></span>
    <span class="hexDown"></span>
    <span class="hexUp"></span>
    <span class="hexDown"></span>
    <span class="hexUp"></span>
</section>

</html>