<%- include('./partials/head') %>

    <nav>
        <ul>
            <li>
                <h2 class="bold">Template</h2>
            </li>
            <a href="/beschrijving">
                <li>
                    <h2>Beschrijving</h2>
                </li>
            </a>
            <a href="/stappenplan">
                <li>
                    <h2>Stappenplan</h2>
                </li>
            </a>
            <a href="/voorbeelden">
                <li>
                    <h2>Voorbeelden</h2>
                </li>
            </a>
            <a href="/form">
                <li>
                    <h2>Feedback</h2>
                </li>
            </a>
        </ul>
    </nav>
    </section>

    <section class="flex">
        <% methods.forEach(method=> { %>
            <% if (method.slug=="roadmap" ) {%>
                <img class="template-url" src="<%= method.template.url %>" alt="">
                <% } %>
                    <% }) %>
    </section>
    </main>
    </body>