* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 20px;

    --rigid: rigid-square, sans-serif;
    --yrsa: "yrsa", "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
        "Lucida Sans", Arial, sans-serif;

    --blue: #090940;
    --bluelight: #31439c;
    --yellow: #feb51e;
    --orange: #fe6f07;
    --white: #ffffff;
    --gray: #e8e8e8;
}

h1 {
    font-size: 3.157rem;
    font-weight: 800;

    font-family: var(--rigid);
    color: var(--blue);

    padding-left: 6.7rem;
}

h2 {
    font-size: 1rem;
    font-weight: 400;

    font-family: var(--rigid);
}

.comment {
    padding: 0.6rem;

    font-family: var(--rigid);

    width: fit-content;
    height: fit-content;
}

.comment h2 {
    text-transform: uppercase;
    font-family: var(--rigid);
    color: var(--bluelight);
}

.comment h3 {
    background-color: #e8e8e8;
    border: 0.05rem solid #fafafa;
}

h3 {
    font-size: 1rem;
    font-weight: 400;
}

.logo {
    padding: 1rem;
    padding-left: 3rem;
    padding-bottom: 0.75rem;
}

header {
    display: flex;
    justify-content: space-between;
}

.navmain ul,
.navheader ul {
    display: flex;
    align-items: center;

    list-style: none;
}

a {
    text-decoration: none;
    color: var(--blue);
}

.navmain li,
.navheader li {
    padding: 0.6rem;
    font-size: 1rem;

    font-family: var(--rigid);
    font-weight: bolder;
}

.navmain li:hover {
    color: var(--blue);
}

.navheader li {
    padding: 1.4rem;
}

.navheader {
    display: flex;
    align-items: center;
    padding-right: 3rem;
}

.arrows {
    width: 1%;
}

.line {
    background-color: var(--bluelight);
    color: var(--white);

    text-transform: uppercase;
    font-family: var(--rigid);
    font-size: 0.75rem;

    padding-left: 7rem;
    padding-top: 0.2rem;
    padding-bottom: 0.2rem;
}

.line:hover {
    color: var(--yellow);
    transform: scale(1.01);
}

.navmain {
    display: flex;
    justify-content: space-between;
    align-items: center;

    margin-top: 0.5rem;
}

.navmain li {
    color: var(--bluelight);
    text-transform: uppercase;
    font-family: var(--rigid);
}

.bold {
    font-weight: 800;
    text-decoration: underline;
    text-decoration-thickness: 0.2rem;
    text-underline-offset: 0.5rem;
}

.navmain ul {
    padding-right: 3.2rem;
}

.template-url {
    width: calc(39.8rem/1.3);
    height: calc(27rem/1.3);
}

.flex {
    display: flex;
    justify-content: center;
}

.tags-b {
    display: flex;
    justify-content: left;

    margin-left: 7rem;
}

.tags-s {
    margin-top: 2.5rem;
}

.tag {
    background-color: var(--yellow);
    color: var(--blue);
    font-family: var(--rigid);
    font-size: 0.8rem;
    font-weight: bolder;

    padding: 0.3rem;
    margin-left: 0.8rem;
    margin-bottom: 0.8rem;
}

.tag-hollow {
    background-color: var(--yellow);
    color: var(--blue);
    font-family: var(--rigid);
    font-size: 0.8rem;
    font-weight: bolder;

    padding: 0.3rem;
    margin-left: 0.8rem;
    margin-bottom: 0.8rem;

    opacity: 50%;
}

.full-b {
    flex-direction: column;

    margin-top: 2.5rem;
}

.full-s {
    justify-content: flex-start;
    margin-left: 6rem;
    margin-top: 2.5rem;
}

.full-b,
.full-s {
    display: flex;
}

.icon {
    width: 2.5%;
    height: 2.5%;
}

.text {
    margin-left: -27.5rem;
    margin-top: 0.75rem;

    max-width: 35rem;

    font-size: 1rem;
    font-family: var(--yrsa);
    color: var(--bluelight);
}

.description {
    margin-top: 0.75rem;
    font-size: 1rem;
    font-family: var(--yrsa);
    color: var(--bluelight);

    line-height: 1.5rem;
    margin-left: 2rem;
}

.description p {
    margin-left: -1rem;
    max-width: 30rem;
}

.steps {
    width: 40%;
    height: 40%;
}

.columntag {
    margin-left: -31.5rem;
    display: flex;
    justify-content: center;
}

.carousel {
    position: relative;
    height: 27.5rem;
    width: 100%;
    margin: 0 auto;
}

.carousel-img-blur {
    width: 100%;
    height: 100%;
    object-fit: cover;
    filter: blur(0.2rem);
    position: absolute;
}

.carousel-img {
    z-index: 1;
}

.carousel-container {
    height: 100%;
    position: relative;
    overflow: hidden;
}

.carousel-list {
    padding: 0;
    margin: 0;
    list-style: none;
    position: relative;
    height: 100%;
    transition: transform 1s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.carousel-slide {
    position: absolute;
    top: 0;
    bottom: 0;
    width: 100%;

    display: flex;
    justify-content: center;
}

.carousel-button-left,
.carousel-button-right {
    position: absolute;
    top: 50%;
    /* transform: translateY(-50%); */
    background: var(--orange);
    border: 0;
    cursor: pointer;
    z-index: 1;
    padding: 0.5rem;
}

.carousel-button-left:active,
.carousel-button-right:active {
    animation-name: big;
    animation-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1.275);
    animation-duration: 0.2s;
    animation-iteration-count: 1;
}

.carousel-button-right {
    right: 0%;
}

form {
    padding: 2rem 1rem;
    width: 50%;
    display: flex;
    justify-content: center;
}

.form {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 2rem;
}

label,
input {
    width: 100%
}

form .submit-button:hover {
    background-color: var(--blue);
}

label {
    font-size: 1rem;
    font-family: var(--yrsa);
}

legend {
    color: var(--bluelight);
    text-transform: uppercase;
    font-family: var(--rigid);
    margin-bottom: 0.5rem;
}

input {
    font-size: 1.5em;
    background-color: #e8e8e8;
    border: 0.05rem solid #fafafa;
    font-family: var(--rigid);
}

.submit-button {
    background-color: var(--bluelight);
    color: var(--white);
    font-family: var(--rigid);
}

fieldset {
    border-style: none;
    width: 75%;
}

.hexagons {
    display: flex;
    justify-content: space-between;
    padding: 1rem;
}

.hexUp,
.hexDown {
    width: calc(300px/3.5);
    height: calc(275px/3.5);
    clip-path: polygon(25% 0%, 75% 0%, 100% 50%, 75% 100%, 25% 100%, 0% 50%);
    background: var(--yellow);
}

@keyframes big {
    0% {
        transform: scale(1, 1)
    }

    50% {
        transform: scale(0.75, 0.75)
    }

    75% {
        transform: scale(1.25, 1.25)
    }

    100% {
        transform: scale(1, 1)
    }
}

@keyframes small {
    0% {
        transform: scale(1, 1)
    }

    50% {
        transform: scale(1.25, 1.25)
    }

    75% {
        transform: scale(0.75, 0.75)
    }

    100% {
        transform: scale(1, 1)
    }
}

.hexUp {
    margin-bottom: 1rem;

    animation-name: big;
    animation-timing-function: cubic-bezier(0.28, 0.84, 0.42, 1);
    animation-duration: 5s;
    animation-iteration-count: 100;
}

.hexUp:hover {
    background-color: var(--orange);
}

.hexDown {
    margin-top: 1rem;

    animation-name: small;
    animation-timing-function: cubic-bezier(0.28, 0.84, 0.42, 1);
    animation-duration: 5s;
    animation-iteration-count: 100;
}

.hexDown:hover {
    background-color: var(--orange);
}

.hexUp:active,
.hexDown:active {
    animation-name: click;
    animation-timing-function: cubic-bezier(0.28, 0.84, 0.42, 1);
    animation-duration: 2s;
    animation-iteration-count: 1;
}

@keyframes click {
    0% {
        transform: rotate(0deg);
    }


    100% {
        transform: rotate(360deg);
    }
}

.comment ul {
    list-style: none;
}

/* Mobile */
@media only screen and (max-width: 38.4rem) {

    /* index */
    .searchbar {
        padding-left: 1.4rem !important;
    }

    .methods {
        padding-left: 0rem !important;
    }

    .method {
        width: 100% !important;
    }

    .categorie-middle {
        margin-right: 0rem !important;
        margin-left: 0rem !important;
    }

    .categories {
        margin-left: 1rem !important;
    }

    /* header */
    .logo {
        padding-left: 1rem;
    }

    .navheader {
        padding-right: 0rem;
    }

    h1 {
        padding-left: 1rem;
    }

    .line {
        padding-left: 1.5rem;
    }

    .arrows {
        width: 3%;
    }

    .navmain {
        flex-wrap: wrap;
    }

    .navmain ul {
        flex-wrap: wrap;
        padding-right: 0rem;
        padding-left: 0.5rem;
    }

    /* template */
    .template-url {
        width: calc(39.8rem/2);
        height: calc(27rem/2);
        margin-top: 4rem;
    }

    /* beschrijving */

    .tags-b {
        margin-left: 1rem;
        align-items: center;
        flex-wrap: wrap;
    }

    .icon {
        width: 8%;
        height: 8%;

        margin-bottom: 0.8rem;
    }

    .text {
        margin-left: 0rem;
        margin-bottom: 3rem;
        max-width: 17rem;
        font-size: 1rem;
    }

    /* stappenplan */

    .columntag {
        margin-left: 0rem;
        flex-wrap: wrap;
    }

    .tags-s {
        margin-top: 1rem;
    }

    .tag {
        margin-right: 0.8rem;
    }

    .full-s {
        flex-direction: column;
        margin-left: 0rem;
    }

    .description {
        margin-left: 0rem;
    }

    .description p {
        margin-left: 1rem;
        max-width: 17rem;
    }

    .description ul {
        margin-left: 2rem;
        max-width: 17rem;
    }

    .steps {
        width: 75%;
        margin-top: 1rem;
    }

    /* voorbeelden */

    .carousel {
        margin-top: 4rem;
    }

    .carousel-container {
        height: 50%;
    }

    .carousel-button-left,
    .carousel-button-right {
        top: 25%;
    }

    /* feedback */
    .form {
        flex-wrap: wrap;
        flex-direction: column-reverse;
    }

    form {
        width: 100%;
    }

    .hexUp,
    .hexDown {
        width: calc(300px/8);
        height: calc(275px/8);
        clip-path: polygon(25% 0%, 75% 0%, 100% 50%, 75% 100%, 25% 100%, 0% 50%);
        background: var(--yellow);
    }
}

.method-img {
    width: 80%
}

.methods {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

    /* margin-top: 1.5rem; */
}

.methods ul,
.methods li {
    display: contents;
}

.method {
    width: 25%;
    display: flex;
    align-items: center;

    text-align: center;

    margin: 1rem;

    border: solid 5px var(--blue);
    border-radius: 255px 15px 225px 15px/15px 225px 15px 255px;
    box-shadow: var(--bluelight) 5px 10px;

    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-duration: var(--animate-duration);
    animation-duration: var(--animate-duration);
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;

    -webkit-animation-duration: .75s;
    animation-duration: .75s;
    -webkit-animation-duration: calc(var(--animate-duration)*0.75);
    animation-duration: calc(var(--animate-duration)*0.75);
    -webkit-animation-name: bounceIn;
    animation-name: bounceIn;
}

.method:hover {
    box-shadow: var(--yellow) 5px 10px;
}

.methods a {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    margin: 1rem;
}

.searchbar {
    font-family: var(--rigid);
    padding-left: 7rem;

    box-shadow: var(--bluelight) 5px 5px;
}

.searchbar:focus {
    box-shadow: var(--yellow) 5px 5px;
}

::placeholder {
    font-family: var(--rigid);
}

#author,
#text {
    margin-bottom: 1rem;
}

.categories {
    display: grid;
    grid:
        ". category ." 1fr / 0.5fr 4fr 1fr;

    margin-top: 2rem;
}

.categories-container {
    grid-area: category;
}

.categorie-names li {
    display: flex;
    align-items: center;
    padding-bottom: 30px;
    list-style: none;
    width: 360px;
}

.categorie-names {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.categorie-middle {
    margin-right: 1rem;
    margin-left: -1.5rem;
}

.categorieën {
    font-weight: bold;
    margin-bottom: 1rem;
    margin-left: 0.5rem;
}

button {
    border: none;
    background-color: var(--white);

    display: flex;
    justify-content: space-between;
    align-items: center;
}

.button {
    rotate: 90deg;
    width: 7%;
    margin-bottom: 1rem;
    transition: 0.5s;
}

.rotate {
    rotate: 270deg;
    transition: 0.5s;
}

.logo:active,
.navmain li:active,
.method:active,
.categorie-names li:active,
button:active {
    animation-name: big;
    animation-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1.275);
    animation-duration: 1s;
    animation-iteration-count: 1;
}

.logo:hover,
.navmain li:hover,
.navheader li:hover,
input:active,
.method:hover,
.categorie-names li:hover,
button:hover {
    transform: scale(1.05);
}